<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @reminder.text %>
</p>

<p>
  <strong>Done:</strong>
  <%= @reminder.done %>
</p>

<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
